h3 {
    margin-top: 70px;
}
.parent {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.child-2 {
    display: flex;
    justify-content: space-between;
}

.child-2-2 {
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-top: 10px;
}

.child-2-1-1 {
    font-size: 35px;
}

.child-2-1-2{
    font-size: 20px;
}

.child-2-1-3 {
    font-size: 12px;
    padding-top: 7px;
}

.child-2-2-1 {
    width: 40px;
    margin-left: 30px;
}

.cart-button {
    background-color: white;
    border-color: white;
}

.buy-button {
    background-color: #01D009;
    color: white;
    border-color: white;
    border: 2px solid;
    width: 80px;
    border-radius: 10px;
}






